.all_page {
  width: 95%;
  border-radius: 2rem;
  display: flex;
  height: 130vh;
}

.titlediv {
  width: 60rem;
  display: flex;
}

.userTitleShopName {
  margin-top: 4.2rem;
  margin-left: 12rem;
  font-size: 2.2rem;
}

.user_message {
  width: 50rem;
  display: flex;
  align-items: start;
  justify-content: start;
}

.userbar {
  height: 90%;
  background-color: #0367A6;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  text-align: center;
  padding: 7rem 2rem;
  font-size: 1.5rem;
  width: 19.3%;
}

.message_title {
  width: 46rem;
  border-bottom: 2px solid rgb(117, 116, 116);
  font-size: 2.2rem;
  color: #F2441D;
  text-decoration: none;
}

.message_title:hover {
  text-shadow: 0 0 5px #F2441D, 0 0 10px #F2441D, 0 0 10px #F2441D;
  transition: 0.2s;
}

.userTitleShopName span {
  color: #F2441D;
}

.messages {
  margin-top: 9rem;
  width: 50rem;
  margin-left: 12.2rem;
}

.content {
  width: 78%;
}

.usermess_table {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 0rem;
  color: #0367A6;
  border: none;
  align-items: start;
  margin-left: 0;
  text-align: left;
}

.usermess_table th {
  font-size: 1.6rem;
  text-align: left;
  width: 10rem;
}

.usermess_table td {
  height: 6rem;
  font-size: 1.4rem;
  width: 8rem;
  text-align: left;
  border-bottom: 1px solid rgb(158, 157, 157);
}

.message_icon {
  width: 4rem;
}

.user_message {
  display: flex;
  width: 50rem;
}

.ads_title{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(117, 116, 116);
  margin-left: 12rem;
  margin-top: 9rem;
  width: 50rem;
}

.ads_title a{
  text-decoration: none;
  color: #F2441D;
  font-size: 2.2rem;
}

.ads_title a:hover{
text-shadow: 0 0 5px #F2441D, 0 0 10px #F2441D, 0 0 10px #F2441D;
transition: 0.2s;
}
