.button1{
  width: 10rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-family: 'Inria Sans', sans-serif;
  background-color: #F2441D;
  color: white;
  border: none;
  text-shadow: 0 0 5px #FFF;
  transition: text-shadow 0.3s ease-out;
}

.button1:hover{
  cursor: pointer;
  box-shadow: 2px 2px 5px #0367A6;
  transition: 0.2s;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
}

button:active {
  position: relative;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}