.button2{
  background-color: #F2441D;
  color: white;
  width: 15rem;
  align-items: center;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  height: 5vh;
  border-radius: 2rem;
  font-size: 1rem;
}


.button2:hover{
  cursor: pointer;
  box-shadow: 2px 2px 5px #0367A6;
  transition: 0.2s;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
}