.button2{
  background-color: #F2441D;
  color: white;
  width: 15rem;
  align-items: center;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  height: 5vh;
  border-radius: 2rem;
  font-size: 1rem;
}