.popup {
  background: linear-gradient(to right, #0367A6, #ffff);
  height: 96vh;
  width: 100%;
  padding-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 5px 5px gray;
  padding: 3rem 3rem;
  border-radius: 2rem;
  background-color: white;
  width: 25%;
  height: 60vh;
}

.form p {
  font-size: 2rem;
  color: #0367A6;
  margin-top: -1rem;
}

.cred {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cred input {
  width: 15rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #0367A6;
  font-size: 1.3rem;
  color: #0367A6;
}

input:focus{
  outline: none;
}

.user_cred {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user_cred img {
  width: 2.2rem;
}

.forget {
  margin-left: 10rem;
  margin-top: -1rem;
  color: #F2441D;
}

#back{
  text-decoration: none;
  color: #F2441D;
  font-size: 2rem;
  margin-left: 4rem;
  text-shadow: 0 0 5px #8d8787, 0 0 10px #8d8787, 0 0 10px #8d8787;
}

#back:hover{
  text-decoration: none;
  color: #F2441D;
  text-shadow: 0 0 5px #FFFF, 0 0 10px #FFFF, 0 0 10px #FFFF;
  transition: 0.3s;
}  