.mess_title {
  font-size: 2.2rem;
  margin-left: 2rem;
}

.mess_content {
  background-color: #0367A6;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: white;
}

.message_header {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

.mess_labels {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.mess_inputs {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 2rem;
  margin-bottom: 1rem;
}

.mess_inputs input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 30rem;
  font-size: 1.4rem;
  color: white;
}

.mess_inputs input::placeholder{
  color: #a19f9f;
  font-size: 1.2rem;
}

.message_box{
  display: flex;
  margin-top: 0.8rem;
  align-items: center;  
  flex-direction: column;
}

#text_input{
  width: 91%;
  height: 38vh;
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  font-family: "Inria Sans";
}

#text_input::placeholder{
  font-size: 1.4rem;
  text-align: left;
  padding: 1rem 1rem;
  font-family: "Inria Sans";
}

#text_input:focus{
  outline: none;
  border: 1px solid #F2441D;
}

#text_input:focus::placeholder{
  opacity: 0;
}

.send_but{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}