.mess_title {
  font-size: 2.2rem;
}

.mess_content {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  color: #0367a6;
  margin-top: 4.4rem;
  width: 35rem;
  position: absolute;
  z-index: 1;
  margin-left: 12rem;
  box-shadow: 0 0 50px #0367A6;
}

.boxMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  color: #0367a6;
  width: 20rem;
  height: 20rem;
  position: fixed;
  z-index: 1;
  margin-left: 20rem;
  box-shadow: 0 0 50px #0367A6;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  top: 300px;
  left: 300px;
}

.message_header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

.mess_labels {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.mess_inputs {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 1.5rem;
  overflow: auto;
  width: 160px;
  height: 100px;
}

.mess_inputs input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 30rem;
  font-size: 1.4rem;
}

.mess_inputs input::placeholder {
  color: #a19f9f;
  font-size: 1.2rem;
}

.message_box {
  display: flex;
  margin-top: 0.8rem;
  align-items: center;
  flex-direction: column;
}

#text_input {
  width: 90%;
  height: 38vh;
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  font-family: "Inria Sans";
  border: 1px solid #0367A6;
}

#text_input::placeholder {
  font-size: 1.4rem;
  text-align: left;
  padding: 1rem 1rem;
  font-family: "Inria Sans";
}

#text_input:focus {
  outline: none;
}

#text_input:focus::placeholder {
  opacity: 0;
}

.send_but {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linking {
  display: flex;
  flex-direction: column;
}


#message {
  width: 10rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-family: 'Inria Sans', sans-serif;
  background-color: #F2441D;
  color: white;
  border: none;
  text-shadow: 0 0 5px #FFF;
  transition: text-shadow 0.3s ease-out;
  margin-left: 775px;
}

#message:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #0367A6;
  transition: 0.2s;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
}

#message:active {
  position: relative;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

.header_title {
  display: inherit;
}


.messages_table {
  width: 90%;
  margin-top: 1.4rem;
  padding: 1rem 0.5rem;
  color: #0367A6;
  border: none;
  align-items: start;
  margin-left: 0;
  text-align: left;
}

.messages_table th {
  width: 17rem;
}

.messages_table thead {
  font-size: 1.6rem;
  border-bottom: 1px solid #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  height: 4rem;
  align-items: start;
  justify-content: start;
}

.messages_table td {
  border: none;
  height: 6rem;
  border-bottom: 1px solid #B4B4B4;
  font-size: 1.4rem;
}

.right_div {
  width: 95%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  height: 130vh;
}

.rightdiv_content {
  width: 85%;
  margin-right: 2rem;
}

#last_col {
  border-right: none;
  margin: 0.5rem 0.5rem;
}

#last_col:active {
  position: relative;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}


.filter_box {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #0367A6;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: auto;
}


.filter_box {
  width: 10rem;
  height: 20vh;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.checksend {
  margin: 0px 0px;
  width: 1rem;
}

.key li {
  margin: 0px 0px;
}

.rowsend {
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
}

.selected_shop {
  font-size: 1rem;
  margin: 0px 2px;
  padding: 5px;
  color: #ffffff;
  background-color: #0367A6;
  border-radius: 0.5rem;
  margin-bottom: 2px;
  font-weight: bold;
}

#sentIcon {
  width: 4rem;
}

.old_messages {
  display: flex;
  flex-direction: row;
  position: relative;
}

.old_messages.active {
  opacity: 0.5; /* Adjust the opacity value as needed */
}


.newMessageInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35%;
  background-color: transparent;
  color: #0367A6;
  margin-bottom: 2rem;
}

#shopname_input,#title_input {
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #0367A6;
  color: black;
  font-size: 1rem;
}

#shopname_input::placeholder{
  color: #a8a7a7;
  font-size: 1remz;
}

#title_input::placeholder{
  color: #a8a7a7;
  font-size: 1remz;
}

#shopname_input:focus::placeholder{
  color: transparent;
}

#closeList{
  height: 2rem;
  width: 6rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-family: 'Inria Sans', sans-serif;
  background-color: #F2441D;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

#closeList:hover{
  transition: 0.2s;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
}

#responseError{
  color: red;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#Succeed{
  color: green;
  font-weight: bold;
  text-align: center;
}