ul{ 
padding: 0;
    margin: 0;
}
li{
	padding: 0;
    margin: 0;
	list-style:none;
	height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
