.admin{
  width: 80%;
  border-radius: 2rem ;
  display: flex;
  height: 200vh;
}

.feature{
  height: 90%;
  background-color: #0367A6;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  text-align: center;
  padding: 7rem 2rem;
  font-size: 1.5rem;
  width: 22%;
}

.admin_links{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  font-size: 1.4em;
}

.admin a{
  text-decoration: none;
  color: white;
}

.admin a:hover{
  text-shadow: 0 0 5px #F2441D, 0 0 10px #F2441D, 0 0 10px #F2441D;
  transition: 0.2s;
}

.shopname-title{
  margin-top: 4.2rem;
  margin-left: 10rem;
  font-size: 2rem;
}

.shopname-title span{
  color: #F2441D;
}

.acc_title{
  font-size: 2.2rem;
  display: flex;
  margin-left: 2.4rem;
  align-items: center;
  text-align: center;
  justify-content:center;
  width: 100%;
  gap: 12rem;
}

#create_user{
  color: #F2441D;
  font-weight: bold;
  margin-left: 6rem;
}

.admin_content{
  width: 90%;
  margin-right: 2rem; 
}

.fields{
  background-color: #0367A6;
  font-size: 1.6rem;
  display: flex;  
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 0.5rem;
  border-radius: 2rem;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  width: 65%;
}

.user_type{
  display: flex;
  gap: 13.5rem;
  text-align: left;
  align-items: flex-start;
}

.fields input{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.2rem;
}

.fields input::placeholder{
  color:rgb(156, 156, 156);
  margin-right: 1rem;
}

.add_form{
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

.labels,.inputs{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputs{
  gap: 2.4rem;
}

input[type="radio"]{
  width:20px;
  height: 20px;
}

.form_title{
  font-size: 2.2rem;
  margin-left:14.4rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

nav a.active{
  background-color: red;
}

.valid_input{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  text-align: center;
}

.valid_input span{
  color: white;
  font-size: 1rem;
  background-color: #F2441D;
}

.response_result{
  text-align: center;
  background-color: white;
  color: rgb(2, 207, 2);
}

.display_users{
  width: 100%;
}

.bord_left{
  border: 1px solid white;
}

.display_users td{
    width: 15rem;
    border-bottom: 1px solid #f7f7f7;
    color: white;
}

.display_users th{
  width: 15rem;
}

.key{
  border-left: none;
}

.users_table{
  margin-top: 1.4rem;
  border-radius: 2rem;
  padding: 1rem 1rem;
  margin-left: 10rem;
  background-color: #0367A6;
  color: white;
  border: none;
}

.users_table td{
  height: 4rem;
  border-right: 1px solid #f7f7f7;
  font-size: 1.4rem ;
}


.users_table thead{
  font-size: 1.6rem;
  border-bottom: 1px solid #ffffff;
  padding-top:2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  height: 4rem;
  align-items: start;
  justify-content: start;
}

.acc_sublinks{
  display: flex;
  flex-direction: row;
  gap:2rem;
}

.acc_sublinks a{
  color: #F2441D;
}

#nofitication{
  margin-left: 8rem;
  margin-top: 1rem;
}

#last_bord{
  border-right: none;
}

#admin_logo{
  width: 20rem;
}
