.user_sidebar {
  height: 80%;
  background-color: #0367A6;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  text-align: center;
  width: 18%;
}

.user_links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 1rem;
  color:#0367A6;
  gap: 2rem;
  font-size: 2rem;
}

.user_links a{
  text-decoration: none;
  color: white;
}

.user_links a:hover{
  text-shadow: 0 0 5px #F2441D, 0 0 10px #F2441D, 0 0 10px #F2441D;
  transition: 0.2s;
}

